In [28]:
import pandas as pd
import numpy as np
from sklearn.decomposition import PCA

%matplotlib inline

In [19]:
macro = pd.read_csv("macro.csv")
macro.head()

,timestamp,oil_urals,gdp_quart,gdp_quart_growth,cpi,ppi,gdp_deflator,balance_trade,balance_trade_growth,usdrub,...,provision_retail_space_modern_sqm,turnover_catering_per_cap,theaters_viewers_per_1000_cap,seats_theather_rfmin_per_100000_cap,museum_visitis_per_100_cap,bandwidth_sports,population_reg_sports_share,students_reg_sports_share,apartment_build,apartment_fund_sqm
0,2010-01-01,76.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,690.0,6221.0,527.0,0.41,993.0,NaN,NaN,63.03,22825.0,NaN
1,2010-01-02,76.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,690.0,6221.0,527.0,0.41,993.0,NaN,NaN,63.03,22825.0,NaN
2,2010-01-03,76.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,690.0,6221.0,527.0,0.41,993.0,NaN,NaN,63.03,22825.0,NaN
3,2010-01-04,76.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.905,...,690.0,6221.0,527.0,0.41,993.0,NaN,NaN,63.03,22825.0,NaN
4,2010-01-05,76.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.836,...,690.0,6221.0,527.0,0.41,993.0,NaN,NaN,63.03,22825.0,NaN

In [20]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [21]:
train.head()
test.head()

,id,timestamp,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,...,cafe_count_5000_price_1500,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000
0,30474,2015-07-01,39.0,20.7,2,9,1,1998.0,1,8.9,...,8,0,0,0,1,10,1,0,14,1
1,30475,2015-07-01,79.2,NaN,8,17,1,0.0,3,1.0,...,4,1,1,0,2,11,0,1,12,1
2,30476,2015-07-01,40.5,25.1,3,5,2,1960.0,2,4.8,...,42,11,4,0,10,21,0,10,71,11
3,30477,2015-07-01,62.8,36.0,17,17,1,2016.0,2,62.8,...,1,1,2,0,0,10,0,0,2,0
4,30478,2015-07-01,40.0,40.0,17,17,1,0.0,1,1.0,...,5,1,1,0,2,12,0,1,11,1

In [22]:
columns = train.columns
y_col = columns[-1]

print(y_col)

y = train[y_col]

price_doc

In [23]:
y.head()

0     5850000
1     6000000
2     5700000
3    13100000
4    16331452
Name: price_doc, dtype: int64

In [24]:
X_train = train[columns[:-1]]
X_test = test

In [27]:
macro.corr().to_csv('macro_corr.csv')

In [29]:
macro.isnull()

,timestamp,oil_urals,gdp_quart,gdp_quart_growth,cpi,ppi,gdp_deflator,balance_trade,balance_trade_growth,usdrub,...,provision_retail_space_modern_sqm,turnover_catering_per_cap,theaters_viewers_per_1000_cap,seats_theather_rfmin_per_100000_cap,museum_visitis_per_100_cap,bandwidth_sports,population_reg_sports_share,students_reg_sports_share,apartment_build,apartment_fund_sqm
0,False,False,True,True,True,True,True,True,True,True,...,False,False,False,False,False,True,True,False,False,True
1,False,False,True,True,True,True,True,True,True,True,...,False,False,False,False,False,True,True,False,False,True
2,False,False,True,True,True,True,True,True,True,True,...,False,False,False,False,False,True,True,False,False,True
3,False,False,True,True,True,True,True,True,True,False,...,False,False,False,False,False,True,True,False,False,True
4,False,False,True,True,True,True,True,True,True,False,...,False,False,False,False,False,True,True,False,False,True
5,False,False,True,True,True,True,True,True,True,False,...,False,False,False,False,False,True,True,False,False,True
6,False,False,True,True,True,True,True,True,True,False,...,False,False,False,False,False,True,True,False,False,True
7,False,False,True,True,True,True,True,True,True,False,...,False,False,False,False,False,True,True,False,False,True
8,False,False,True,True,True,True,True,True,True,False,...,False,False,False,False,False,True,True,False,False,True
9,False,False,True,True,True,True,True,True,True,False,...,False,False,False,False,False,True,True,False,False,True
10,False,False,True,True,True,True,True,True,True,False,...,False,False,False,False,False,True,True,False,False,True
11,False,False,True,True,True,True,True,True,True,False,...,False,False,False,False,False,True,True,False,False,True
12,False,False,True,True,True,True,True,True,True,False,...,False,False,False,False,False,True,True,False,False,True
13,False,False,True,True,True,True,True,True,True,False,...,False,False,False,False,False,True,True,False,False,True
14,False,False,True,True,True,True,True,True,True,False,...,False,False,False,False,False,True,True,False,False,True
15,False,False,True,True,True,True,True,True,True,False,...,False,False,False,False,False,True,True,False,False,True
16,False,False,True,True,True,True,True,True,True,False,...,False,False,False,False,False,True,True,False,False,True
17,False,False,True,True,True,True,True,True,True,False,...,False,False,False,False,False,True,True,False,False,True
18,False,False,True,True,True,True,True,True,True,False,...,False,False,False,False,False,True,True,False,False,True
19,False,False,True,True,True,True,True,True,True,False,...,False,False,False,False,False,True,True,False,False,True
20,False,False,True,True,True,True,True,True,True,False,...,False,False,False,False,False,True,True,False,False,True
21,False,False,True,True,True,True,True,True,True,False,...,False,False,False,False,False,True,True,False,False,True
22,False,False,True,True,True,True,True,True,True,False,...,False,False,False,False,False,True,True,False,False,True
23,False,False,True,True,True,True,True,True,True,False,...,False,False,False,False,False,True,True,False,False,True
24,False,False,True,True,True,True,True,True,True,False,...,False,False,False,False,False,True,True,False,False,True
25,False,False,True,True,True,True,True,True,True,False,...,False,False,False,False,False,True,True,False,False,True
26,False,False,True,True,True,True,True,True,True,False,...,False,False,False,False,False,True,True,False,False,True
27,False,False,True,True,True,True,True,True,True,False,...,False,False,False,False,False,True,True,False,False,True
28,False,False,True,True,True,True,True,True,True,False,...,False,False,False,False,False,True,True,False,False,True
29,False,False,True,True,True,True,True,True,True,False,...,False,False,False,False,False,True,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2454,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
2455,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
2456,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
2457,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
2458,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
2459,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
2460,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
2461,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
2462,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
2463,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
2464,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
2465,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
2466,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
2467,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
2468,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
2469,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
2470,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
2471,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
2472,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
2473,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
2474,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
2475,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
2476,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
2477,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
2478,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
2479,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
2480,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
2481,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
2482,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
2483,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True